*.lib
*.exp
*.obj
*.tmp
*.dll
*.txt
*.exe
*.ncb
*.ocx
*.oca
*.sdf
*.suo

*.cbak
*.hbak

desktop.ini


/Debug/
/Release/
/ipch/
/.vs/
/_!_api3/
/_UpgradeReport_Files/
/_proba_filters_all_anomaly/


/drivers/experimental.drv/ansis_drv/Debug/
/drivers/experimental.drv/raw_data/2021.09.02_10inch_Caliper/

/drivers/nano/_nano512_scale_diapazone/
/drivers/nano/_nano_v1_v3_odometry_vmesto_accelerometrov/
/drivers/nano/_nano_v1_v3_Rewers_wiew_flag_trc/
/drivers/nano/_nano_v1_v3_trace_shift_log_po_odnomu_odom/
/drivers/nano/nano_512_rips_ext/
/drivers/nano/nano_512/1400_lasti_700/

/program/_chaged_files/
