#include "expstr.h"

STRINGTABLE DISCARDABLE
BEGIN

resExpSpeedY                    "Скорость"
resExpSpeedUnitKH               "км/ч"
resExpSpeedUnitMS               "м/с"
resExpThickADC                  "ед.АЦП"
resExpThickTesla                "млТесла"
resExpSpeedTitle                "График скорости"
resExpTempY                     "Температура, град C"
resExpTempTitle                 "График температуры"
resExpX                         "Дистанция, м."
resExpOrientY                   "Вращение, град"
resExpOrientTitle               "График вращения"
resExpShakeY                    "Вибрация, ед.АЦП"
resExpShakeTitle                "График вибрации"
resExpPressY                    "Давление, ед.АЦП"
resExpPressTitle                "График давления"
resExpAngleY                    "Угловые скорости, ед.АЦП"
resExpAngleTitle                "График угловых скоростей"
resExpThickY                    "Намагниченность"
resExpThickTitle                "График намагниченности"
resExpCurveY                    "Изгиб трубы"
resExpCurveTitle                "График изгиба трубы"
resExpCurveGrad                 "1/метр"
resExpCurveRad                  "диаметры трубы"

resExpAzimuthY                  "Азимут, сотые градуса"
resExpAzimuthTitle              "График азимута"
resExpTangazhY                  "Тангаж, сотые градуса"
resExpTangazhTitle              "График тангажа"

resExpTubeDirect                "ПРМШ"
resExpTubeSpiral                "СПРЛ"
resExpTubeWithout               "БЕЗШ"
resExpTraceStart                "Начало"
resExpTraceEnd                  "Конец"

///

resExpSpeedYEn                  "Velocity"
resExpSpeedUnitKHEn             "km/h"
resExpSpeedUnitMSEn             "m/s"
resExpThickADCEn                "ADC unit"
resExpThickTeslaEn              "mlTesla"
resExpSpeedTitleEn              "Velocity - Profile"
resExpTempYEn                   "Temperature, C"
resExpTempTitleEn               "Temperature, C - Profile"
resExpXEn                       "Distance, m"
resExpOrientYEn                 "Rotation, degree"
resExpOrientTitleEn             "Rotation, degree - Profile"
resExpShakeYEn                  "Vibration, ADC unit"
resExpShakeTitleEn              "Vibration, ADC unit - Profile"
resExpPressYEn                  "Pressure, ADC unit"
resExpPressTitleEn              "Pressure, ADC unit - Profile"
resExpAngleYEn                  "Angular velocity, ADC unit"
resExpAngleTitleEn              "Angular velocity, ADC unit - Profile"
resExpThickYEn                  "Magnetization level"
resExpThickTitleEn              "Magnetization level - Profile"
resExpCurveYEn                  "Tube curve"
resExpCurveTitleEn              "Tube curve - Profile"
resExpCurveGradEn               "1/meter"
resExpCurveRadEn                "tube diameters"

resExpAzimuthYEn                "Azimuth, hundredths of a degree"
resExpAzimuthTitleEn            "Azimuth, hundredths of a degree - Profile"
resExpTangazhYEn                "Tangage, hundredths of a degree"
resExpTangazhTitleEn            "Tangage, hundredths of a degree - Profile"

resExpTubeDirectEn              "DRC"
resExpTubeSpiralEn              "SPR"
resExpTubeWithoutEn             "WTO"
resExpTraceStartEn              "START"
resExpTraceEndEn                "END"

END
