#include "expstr.rc"
#include "company.rc"

1000 ICON                  "krot01.ico"
1001 ICON                  "gpas01.ico"
1002 ICON                  "EYE.ICO"
1003 ICON                  "MAIL14.ICO"
1004 ICON                  "company.ico"
1005 ICON                  "graph2.ICO"
1006 ICON                  "MONITR01.ICO"
1007 ICON                  "objEdit.ICO"
1008 ICON                  "objFltr.ICO"
1009 ICON                  "recView.ICO"
1010 ICON                  "Settings.ICO"
1011 ICON                  "tubeFltr.ICO"
1012 ICON                  "dairun.ICO"
1013 ICON                  "daistop.ICO"

1500 BITMAP  MOVEABLE PURE "logo.bmp"

101 CURSOR DISCARDABLE     "WHITEVOG.CUR"
102 CURSOR DISCARDABLE     "BLACKVOG.CUR"
103 CURSOR DISCARDABLE     "EMPTY.CUR"
104 CURSOR DISCARDABLE     "H_NW.CUR"

5   BITMAP  MOVEABLE PURE  "anomal.bmp"
6   BITMAP  MOVEABLE PURE  "crack.bmp"
7   BITMAP  MOVEABLE PURE  "crzgroup.bmp"
8   BITMAP  MOVEABLE PURE  "kanavHor.bmp"
9   BITMAP  MOVEABLE PURE  "kanavVer.bmp"
10  BITMAP  MOVEABLE PURE  "defekt.bmp"
11  BITMAP  MOVEABLE PURE  "privarka.bmp"
12  BITMAP  MOVEABLE PURE  "mehan.bmp"
13  BITMAP  MOVEABLE PURE  "stress.bmp"
14  BITMAP  MOVEABLE PURE  "cracks.bmp"
15  BITMAP  MOVEABLE PURE  "vmyat.bmp"
25  BITMAP  MOVEABLE PURE  "vmyat_m.bmp"
16  BITMAP  MOVEABLE PURE  "oval.bmp"
17  BITMAP  MOVEABLE PURE  "bad_styk.bmp"
18  BITMAP  MOVEABLE PURE  "zavarka.bmp"
19  BITMAP  MOVEABLE PURE  "prileganie.bmp"
20  BITMAP  MOVEABLE PURE  "tehokno.bmp"
21  BITMAP  MOVEABLE PURE  "gofra.bmp"
22  BITMAP  MOVEABLE PURE  "izostyk.bmp"
23  BITMAP  MOVEABLE PURE  "flange.bmp"
24  BITMAP  MOVEABLE PURE  "homut.bmp"

27  BITMAP  MOVEABLE PURE  "zaplat.bmp"
26  BITMAP  MOVEABLE PURE  "zaplat1.bmp"
28  BITMAP  MOVEABLE PURE  "bobish.bmp"

30  BITMAP  MOVEABLE PURE  "runplace.bmp"
40  BITMAP  MOVEABLE PURE  "getplace.bmp"
70  BITMAP  MOVEABLE PURE  "kran.bmp"
80  BITMAP  MOVEABLE PURE  "marker.bmp"
81  BITMAP  MOVEABLE PURE  "marktime.bmp"
120 BITMAP  MOVEABLE PURE  "otvod.bmp"
130 BITMAP  MOVEABLE PURE  "patron_in.bmp"
131 BITMAP  MOVEABLE PURE  "patron_out.bmp"
132 BITMAP  MOVEABLE PURE  "troynik.bmp"
133 BITMAP  MOVEABLE PURE  "looping_in.bmp"
134 BITMAP  MOVEABLE PURE  "looping_out.bmp"
140 BITMAP  MOVEABLE PURE  "thick.bmp"
141 BITMAP  MOVEABLE PURE  "category.bmp"
110 BITMAP  MOVEABLE PURE  "startprgrz.bmp"
60  BITMAP  MOVEABLE PURE  "endprgrz.bmp"
170 BITMAP  MOVEABLE PURE  "prigruz.bmp"
100 BITMAP  MOVEABLE PURE  "startspr.bmp"
50  BITMAP  MOVEABLE PURE  "endsprl.bmp"

160 BITMAP  MOVEABLE PURE  "povorot.bmp"

161 BITMAP  MOVEABLE PURE  "waterin.bmp"
162 BITMAP  MOVEABLE PURE  "waterout.bmp"
163 BITMAP  MOVEABLE PURE  "prokat.bmp"
164 BITMAP  MOVEABLE PURE  "mufta_in.bmp"
165 BITMAP  MOVEABLE PURE  "mufta_out.bmp"

180 BITMAP  MOVEABLE PURE  "vog.bmp"
190 BITMAP  MOVEABLE PURE  "shov_p.bmp"
191 BITMAP  MOVEABLE PURE  "shov_s.bmp"
192 BITMAP  MOVEABLE PURE  "shov_b.bmp"
193 BITMAP  MOVEABLE PURE  "shov_n.bmp"
194 BITMAP  MOVEABLE PURE  "shov_kran.bmp"
195 BITMAP  MOVEABLE PURE  "shov_troynik.bmp"
196 BITMAP  MOVEABLE PURE  "marker1.bmp"
197 BITMAP  MOVEABLE PURE  "ND_end.bmp"
198 BITMAP  MOVEABLE PURE  "ND_start.bmp"
199 BITMAP  MOVEABLE PURE  "zadvijka.bmp"

300 BITMAP  MOVEABLE PURE  "chkboff.bmp"
301 BITMAP  MOVEABLE PURE  "chkbon.bmp"

1022 BITMAP  MOVEABLE PURE  "ID_022.bmp"
1025 BITMAP  MOVEABLE PURE  "ID_025.bmp"
1027 BITMAP  MOVEABLE PURE  "ID_027.bmp"
1029 BITMAP  MOVEABLE PURE  "ID_029.bmp"
1031 BITMAP  MOVEABLE PURE  "ID_031.bmp"
1032 BITMAP  MOVEABLE PURE  "ID_032.bmp"
1033 BITMAP  MOVEABLE PURE  "ID_033.bmp"
1034 BITMAP  MOVEABLE PURE  "ID_034.bmp"
1164 BITMAP  MOVEABLE PURE  "ID_164.bmp"
1165 BITMAP  MOVEABLE PURE  "ID_165.bmp"
1166 BITMAP  MOVEABLE PURE  "ID_166.bmp"
1167 BITMAP  MOVEABLE PURE  "ID_167.bmp"
1194 BITMAP  MOVEABLE PURE  "ID_194.bmp"
1195 BITMAP  MOVEABLE PURE  "ID_195.bmp"
1200 BITMAP  MOVEABLE PURE  "ID_200.bmp"
1201 BITMAP  MOVEABLE PURE  "ID_201.bmp"
1202 BITMAP  MOVEABLE PURE  "ID_202.bmp"
1203 BITMAP  MOVEABLE PURE  "ID_203.bmp"
1204 BITMAP  MOVEABLE PURE  "ID_204.bmp"
1205 BITMAP  MOVEABLE PURE  "ID_205.bmp"
1206 BITMAP  MOVEABLE PURE  "ID_206.bmp"
1207 BITMAP  MOVEABLE PURE  "ID_207.bmp"
1208 BITMAP  MOVEABLE PURE  "ID_208.bmp"
1210 BITMAP  MOVEABLE PURE  "ID_210.bmp"
1211 BITMAP  MOVEABLE PURE  "ID_211.bmp"
1212 BITMAP  MOVEABLE PURE  "ID_212.bmp"
1213 BITMAP  MOVEABLE PURE  "ID_213.bmp"
1214 BITMAP  MOVEABLE PURE  "ID_214.bmp"
1215 BITMAP  MOVEABLE PURE  "ID_215.bmp"
1216 BITMAP  MOVEABLE PURE  "ID_216.bmp"
1218 BITMAP  MOVEABLE PURE  "ID_218.bmp"
1219 BITMAP  MOVEABLE PURE  "ID_219.bmp"
1220 BITMAP  MOVEABLE PURE  "ID_220.bmp"
1221 BITMAP  MOVEABLE PURE  "ID_221.bmp"
1222 BITMAP  MOVEABLE PURE  "ID_222.bmp"
1223 BITMAP  MOVEABLE PURE  "ID_223.bmp"
1224 BITMAP  MOVEABLE PURE  "ID_224.bmp"
1225 BITMAP  MOVEABLE PURE  "ID_225.bmp"
1226 BITMAP  MOVEABLE PURE  "ID_226.bmp"
1227 BITMAP  MOVEABLE PURE  "ID_227.bmp"
1228 BITMAP  MOVEABLE PURE  "ID_228.bmp"
1229 BITMAP  MOVEABLE PURE  "ID_229.bmp"
1230 BITMAP  MOVEABLE PURE  "ID_230.bmp"
1231 BITMAP  MOVEABLE PURE  "ID_231.bmp"
1232 BITMAP  MOVEABLE PURE  "ID_232.bmp"
1233 BITMAP  MOVEABLE PURE  "ID_233.bmp"
1234 BITMAP  MOVEABLE PURE  "ID_234.bmp"
1236 BITMAP  MOVEABLE PURE  "ID_236.bmp"
